<html>
<body>
<tr>
<td align = 'center'>
<a href = '/'>Стартовая страница</a>
</td>
<td align = 'center'>
<a href = '/search'>Поиск</a>
</td>
<td align = 'center'>
<a href = '/json'>json</a>
</td>
<td align = 'center'>
<a href = '/stats'>Статистика</a>
</td>
</tr> 
<table align = 'center'>

<form action="/">
    <p><b>Как Вас зовут?</b> <input type="text" name="username"></p>
    <p><b>Ваш пол:</b></p>
    <input type = "radio" name = "answer" value = "мужской">Мужской<Br>
    <input type = "radio" name = "answer" value = "женский">Женский<Br>
    <p><b>Сколько Вам лет?</b> <input type="text" name="age"></p>
    <p><b>Какой Ваш родной язык?</b> <input type="text" name="language"></p>
    <p><b>В каком городе Вы родились?</b> <input type="text" name="motherland"></p>
    <p><b>В каком городе Вы проживаете в настоящий момент?</b> <input type="text" name="nowdays"></p>
	
	<p><b>Назовите одним словом, что изображено:</b></p>
	<p><b>a)</b><img src="static/arm.jpg" width="300" height="300"> <input type="text" name="arm"></p>
	<p><b>b)</b><img src="static/hand.jpg" width="300" height=""> <input type="text" name="hand"></p>
	<p><b>c)</b><img src="static/neck.jpg" width="300" height="300"> <input type="text" name="neck"></p>
	<p><b>d)</b><img src="static/head.jpg"width="300" height=""> <input type="text" name="head"></p>
	<p><b>e)</b><img src="static/face.jpg"width="300" height="300"> <input type="text" name="face"></p>
	<p><b>f)</b><img src="static/leg.jpg"width="300" height="300"> <input type="text" name="leg"></p>
	<p><b>g)</b><img src="static/foot.jpg"width="300" height=""> <input type="text" name="foot"></p>

    <p><input type = "submit" value="Хочу быть полезным науке!"></p>

</form>

</body>
</html>