<html>
<body>
<tr>
<td align = 'center'>
<a href = '/'>Стартовая страница</a>
</td>
<td align = 'center'>
<a href = '/search'>Поиск</a>
</td>
<td align = 'center'>
<a href = '/json'>json</a>
</td>
<td align = 'center'>
<a href = '/stats'>Статистика</a>
</td>
</tr> 
<form action="/results">
    <p><b>Какой Ваш родной язык?</b> <input type="text" name="language"></p>
    <p><b>В каком городе Вы родились?</b> <input type="text" name="motherland"></p>
    <p><b>В каком городе Вы проживаете в настоящий момент?</b> <input type="text" name="nowdays"></p>
    <p><input type = "submit" value="Хочу найти!"></p>

</form>

</body>
</html>